DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=tu_usuario
DB_PASSWORD=tu_contraseña
DB_DATABASE=tu_base_de_datos

PUERTO_USER= ms-user link
PAGE_ENCUESTA=

# PARA PODER ENVIAR CORREOS 
MAIL= 
PASSWORD=  password de aplicacion 